

:root{
    --COR-DE-FUNDO: #1E1E1E;
    --verde: #6fff57;
    --branco :  #ffffff;
    --botao-ativo:   #3a375e;
    --botao-inativo: rgba(58, 55, 94, 0.5);
    --texto-fundo:  rgba ( 58, 55, 94, 0.3)
}

body{ 
    backgrouns-colorg: var(--cor-de-fundo);
    color: var(-- branco);
    fon t-family: 'Chakra PETCH', sans-serif;

}